 h1{
    color:rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(102, 102, 102);
    width: auto
    height: auto
    margin: 20px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
table{
    border-color: blue;
    color:rgb(194, 128, 28);
    
}